{% extends "base.html.twig" %}
{% block body %}

    <h1>Info page bundle</h1>
    <p>Des infos sur {{ name }}</p>
    <a href="{{ path("test_url") }}" class="btn btn-default">Home</a>

{% endblock %}